### Importing Libraries

In [5]:
import numpy as np
import pandas as pd
import os

### Exercise 4.6  Practice Cominbining & Exporting Data

In [6]:
df_ords_prior = pd.read_csv(r"C:\Users\Windows\Instacart Basket Analysis\02 Data\Original Data\orders_products_prior.csv")

In [7]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
df_ords_prior.shape

(32434489, 4)

In [9]:
df_ords = pd.read_csv(r"C:\Users\Windows\Instacart Basket Analysis\02 Data\Prepared Data\df_ords_cleaned.csv", index_col = 0)

In [10]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,hour_of_day_ordered,days_since_prior_order
0,2539329,1,1,2,8,7.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [11]:
df_ords.shape

(3421083, 6)

In [12]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [13]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,hour_of_day_ordered,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196,1,0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both

In [14]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [15]:

path = r"C:\Users\Windows\Instacart Basket Analysis"

In [16]:
# Export data to csv

df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

In [17]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

## Task 4.6 Begins

### Steps 1- 4

In [18]:
# step 1 - see above

In [19]:
# step 2 - see above

In [20]:
# step 3 - import the orders_products_combined dataframe from the pickle file you just saved.

df_combined = pd.read_pickle(r"C:\Users\Windows\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl")

In [21]:
# step 4 - check shape of df_combined
df_combined.shape

(32434489, 10)

In [22]:
# step 5 - Determine a suitable way to combine the orders_products_combined dataframe with products data set.

# check what columns are in df_combined
df_combined.head()

,order_id,user_id,order_number,orders_day_of_week,hour_of_day_ordered,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196,1,0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both

In [23]:
# import products dataset
df_prods = pd.read_csv(r"C:\Users\Windows\Instacart Basket Analysis\02 Data\Prepared Data\df_prods_cleaned.csv", index_col = 0)

In [24]:
# check to see what columns are in df_prods
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [25]:
# check rows and columns of df_prods
df_prods.shape

(49672, 5)

### Checking Memory Usage 
##### Jupyter crashed due to large memory usage. I went to the CareerFoundry documentation: "Dealing with MemoryErrors" to change the variable types.  Using Plan A, I was able to reduce the memory usage.

In [26]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   hour_of_day_ordered     int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
 9   _merge                  category
dtypes: category(1), float64(1), int64(8)
memory usage: 2.4 GB

In [27]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49672 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.3+ MB

### Changing Variable types to save on memory

In [32]:
# These scripts were written to change the variable types

df_combined['order_id']=df_combined['order_id'].astype('int32')
df_combined['user_id'] = df_combined['user_id'].astype('int32')
df_combined['order_number']=df_combined['order_number'].astype('int8')
df_combined['orders_day_of_week']=df_combined['orders_day_of_week'].astype('int8')
df_combined['hour_of_day_ordered']=df_combined['hour_of_day_ordered'].astype('int8')
df_combined['days_since_prior_order']=df_combined['days_since_prior_order'].astype('float16')
df_combined['product_id'] =df_combined['product_id'].astype('int32')
df_combined['reordered']=df_combined['reordered'].astype('int8')
df_combined['add_to_cart_order']=df_combined['add_to_cart_order'].astype('int32')

In [33]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   hour_of_day_ordered     int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       int32
 8   reordered               int8
 9   _merge                  category
dtypes: category(1), float16(1), int32(4), int8(4)
memory usage: 958.9 MB

Memory is reduced in the file.

### Dropping the merge flag in the combined df_combined

In [35]:
df_combined = df_combined.drop(columns = '_merge')

In [36]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   hour_of_day_ordered     int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       int32
 8   reordered               int8
dtypes: float16(1), int32(4), int8(4)
memory usage: 928.0 MB

###  Step 5 and Step 6 Merging df_combined with df_prods  (after fixing memory issue)

In [37]:
# Step 5 and Step 6 - Merging df_combined with df_prods and checking the emrge with the merge flag

ords_prods_merge = df_prods.merge(df_combined, on = "product_id", indicator = True)

In [38]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,hour_of_day_ordered,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,7.0,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [39]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 14 columns):
 #   Column                  Dtype
---  ------                  -----
 0   product_id              int64
 1   product_name            object
 2   aisle_id                int64
 3   department_id           int64
 4   prices                  float64
 5   order_id                int32
 6   user_id                 int32
 7   order_number            int8
 8   orders_day_of_week      int8
 9   hour_of_day_ordered     int8
 10  days_since_prior_order  float16
 11  add_to_cart_order       int32
 12  reordered               int8
 13  _merge                  category
dtypes: category(1), float16(1), float64(1), int32(3), int64(3), int8(4), object(1)
memory usage: 2.0+ GB

In [40]:
ords_prods_merge = df_prods.merge(df_combined, on = "product_id")

### Step 7 Export the newly created dataframe as ords_prods_merge in a suitable format (taking into consideration the size)

In [41]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))